body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

h2, h4 {
    margin: 20px 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height: 69px;
    border-bottom: 1px solid seashell;
}

.navbar__brand {
    height: 50px;
    margin-left: 10px;
}

.navbar__nav {
    display: flex;
    flex-direction: row;
}

.navbar__nav__item {
    color: white;
    margin-right: 20px;
}

.mission-container {
    display: flex;
    justify-content: center;
}

.mission {
    display: flex;
    align-items: center;
    height: 700px;
    width: 1200px;
    margin-top: 69px;
    background: url("../images/img-mission-background.jpg") no-repeat scroll center;
    background-size: cover;
}

.mission__header {
    width: 100%;
    background-color: black;
    text-align: center;
}

.featured-tea-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.featured-tea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
}

.featured-tea h2 {
    margin-bottom: 0;
}

.featured-tea__gallery {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.featured-tea__gallery__item img {
    width: 300px;
    height: 200px;
    margin: 0 10px;
}

.featured-tea__gallery__item h4 {
    margin-top: 10px;
}

.locations-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 500px;
    background: url("../images/img-locations-background.jpg") no-repeat scroll;
    background-size: cover;
}

.locations__header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.locations__header h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.locations__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.locations__list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    margin: 0 20px;
    background-color: black;
    opacity: 1;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

.contact h3 {
    padding-top: 20px;
}

.contact h5 {
    margin: 10px;
}

.footer {
    font-size: 17px;
    margin-left: 20px;
    text-align: left;
}